/**
 **  ACT-R LEMONADE README
 **  85-412 PROJECT
 **  @author Derek Brown <derekbro-at-andrew.cmu.edu>
 **
 **/

 body, html{
   margin-top:50px;

   font-family: 'Roboto', sans-serif !important;
 }

 section{
   width: 100%;
   max-width: 960px;
   margin:0 auto 50px auto;
   padding:0px 20px 30px 20px;
 }

 h1, h2, h3, h4, h5{
   font-family: 'Roboto', sans-serif !important;
 }

 h1{
   font-weight:300;
 }

 h2{
   font-size:30px;
   font-weight:100;
 }

 .caption-box{

   margin:10px 10px 10px 10px;
   background-color:#EEE;

   .img-wrapper{
     padding:20px;
     img{
       max-width:400px;
     }
   }

   .text-wrapper{
     padding: 10px;
     font-size:14px;
   }
 }

 section#header{
   text-align:center;
   margin-bottom:120px;
   height:100vh;

   img{
     height:200px;
   }

   h1{
     font-size:60px;
     font-weight:100;
   }

   a{
     width:200px;

     &.play-button{
       margin-top:10px;
     }

     &.github-button{
       margin-top:100px;
       background-color: #3498db;
     }
   }

 }

section#about{
  margin-top:0px;
}

 section#game{

 }

 section#lessons{
   .uk-tab > li{
     line-height:40px;
   }

   #lesson-switcher{
     h2 {
       font-weight: 100;

       & > span{
         color: #999;
       }
     }
   }
 }

 section#interface{
   iframe{
     width:100%;
     height: 57%;
   }
 }

 section#design{
   .uk-tab > li{
     line-height:40px;
   }
 }


 section#footer{
   padding: 30px;

   background-color:#EEE;
 }
